.ninja_*
.sconsign*
*.pyc
*.pyo
*.log
Python/MANIFEST
Python/dist
*.class
*.idea
*.iml

closure-compiler
compiler.jar
closure-linter

AppEngine/DEPLOYED
AppEngine/cache.manifest
AppEngine/tests/Oplop\ Tests/bin
AppEngine/static/icon*.png
AppEngine/static/biggie.js
AppEngine/static/md5.js
AppEngine/static/oplop.js
AppEngine/static/index.css
AppEngine/static/hvga.css
AppEngine/templates/index.html

Chrome/webapp/oplop.zip
Chrome/webapp/biggie.js
Chrome/webapp/webapp.html
Chrome/webapp/css/hvga.css
Chrome/webapp/css/index.css
Chrome/webapp/icons/*.png
Chrome/webapp/js/md5.js
Chrome/webapp/js/oplop.js
Chrome/webapp/js/ui.js

HTML5/debugging.html

JavaScript/test/testdata.js

Python/.coverage
Python/htmlcov

Java/build
Java/build.properties

*.ipk
