*.pyc
*.pyo
*.log
Python/MANIFEST
Python/dist
*.class
*.idea
*.iml
.DS_Store
*.swp

HTML/cache.manifest
HTML/service-worker.js
HTML/node_modules
HTML/tests/node_modules

Python/.coverage
Python/htmlcov

Java/build
Java/build.properties

*.ipk
