.ninja_*
.sconsign*
*.pyc
*.pyo
*.log
Python/MANIFEST
Python/dist
*.class
*.idea
*.iml
.DS_Store
*.swp

HTML/AppEngine/build.ninja
HTML/AppEngine/cache.manifest
HTML/oplop-chrome_app.zip
HTML/ChromeApp/build.ninja
HTML/MobileChromeApp/Oplop
HTML/MobileChromeApp/app_copy
HTML/tests/node_modules

Python/.coverage
Python/htmlcov

Java/build
Java/build.properties

*.ipk
