.note {
    font-size: x-small;
    color: gray;
    margin-top: -1em;
    margin-bottom: -1em;
}

.goog-tab-bar-clear {
    border-top: 1px solid #369;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    border: 1px black solid;
    background-color: PaleGreen;
}

h3 {
    background-color: black;
    color: white;
    font-family: serif;
    padding-left: 0.5em;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: gray;
    color: white;
    border: 2px black solid;
    width: 20em;
    margin-top: 0.25em;
    margin-left: 0;
}

#trashcanContainer {
    text-align: center;
}

#trashcan {
    background-color: red;
    border: 2px black solid;
    padding: 8px 25% 12px 25%;  /* clockwise */
}

#trashcan img {  /* Actual dimensions: 42x64 */
    width: 21px;
    height: 32px;
    vertical-align: middle;
}