<div class="palm-body-text">
    <div id="main" class="palm-hasheader">
        <div id="main-header" class="palm-header left">
            Oplop
        </div>
    </div>
    <div class="palm-group unlabeled" id="nicknameGroup">
        <div class="palm-list">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <div class="palm-row top">
                        <div id="nickname" x-mojo-element="TextField"></div>
                    </div>
                    <div class="palm-row bottom">
                        <div id="password" x-mojo-element="PasswordField"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="validateButton" x-mojo-element="Button"></div>
    <div id="passwordDrawer" x-mojo-element="Drawer">
        <div class="palm-group unlabeled" id="validateGroup">
            <div class="palm-list">
                <div class="palm-row-wrapper textfield-group">
                    <div class="title">
                        <div class="palm-row single">
                            <div id="checkPassword" x-mojo-element="PasswordField"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="palm-group" id="generatedGroup">
        <div class="palm-group-title">
            Account Password
        </div>
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">
                        <div id="accountPassword" class="centeredText"></div>
                    </div>
                    <div id="addedToClipboard" class="centeredText"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="resetButton" x-mojo-element="Button"></div>
</div>
