{% extends "index.html" %}

{% block css_paths %}
    <link rel=stylesheet href="css/index.css">
    <link rel=stylesheet href="css/hvga.css">
{% endblock %}

{% block js_paths %}
    {% if RELEASE %}
        <script src="biggie.js"></script>
    {% else %}
        <script src="closure-library/closure/goog/base.js"></script>
        <script src="js/deps.js"></script>
        <script src="js/md5.js"></script>
        <script src="js/oplop.js"></script>
        <script src="js/ui.js"></script>
        <script src="js/webapp.js"></script>
    {% endif %}
{% endblock %}

{% block account_password_content %}
    <p><input id="accountPassword" type=text size=8 autocomplete=off></p>

    <p class="note">
        For security purposes, it is suggested you cut-and-paste your account
        password instead of copy-and-paste.
    </p>
{% endblock %}
