<div class="palm-body-text">
    <div id="main" class="palm-hasheader">
        <div id="main-header" class="palm-header center">
            Preferences
        </div>
    </div>
    <div class="palm-group unlabeled">
        <div class="palm-list">
            <div class="palm-row">
                <div>
                    <div id="oldInterfaceText" class="title">Use old interface</div>
                    <div id="oldInterfaceToggle" x-mojo-element="ToggleButton" />
                </div>
                <div id="restartText">(Requires a restart)</div>
            </div>
        </div>
    </div>
</div>
