<div class="palm-body-text">
    <div id="main" class="palm-hasheader">
        <div id="main-header" class="palm-header center">
            One Password -&gt; Lots Of Passwords
        </div>
    </div>
    <div class="palm-group unlabeled" id="nicknameGroup">
        <div class="palm-list">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <div class="palm-row top">
                        <div id="nicknameEntry" x-mojo-element="TextField"></div>
                        <div id="nickname"></div>
                    </div>
                    <div class="palm-row bottom">
                        <div id="password" x-mojo-element="PasswordField"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="palm-group unlabeled" id="validateGroup">
        <div class="palm-list">
            <div class="palm-row-wrapper textfield-group">
                <div class="title">
                    <div class="palm-row single">
                        <div id="checkPassword" x-mojo-element="PasswordField"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="submitButton" x-mojo-element="Button"></div>
</div>
