<div class="palm-body-text">
    <div id="main" class="palm-hasheader">
        <div id="main-header" class="palm-header center">
            One Password -&gt; Lots Of Passwords
        </div>
    </div>
    <div class="palm-group" id="generatedGroup">
        <div class="palm-group-title">
            Nickname
        </div>
        <div class="palm-list">
            <div class="palm-row top">
                <div class="palm-row-wrapper">
                    <div class="title">
                        <div id="accountNickname" class="centeredText"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="palm-group" id="generatedGroup">
        <div class="palm-group-title">
            Account Password
        </div>
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">
                        <div id="accountPassword" class="centeredText"></div>
                    </div>
                    <div id="addedToClipboard">Successfully copied to clipboard.</div>
                </div>
            </div>
        </div>
    </div>
    <div id="resetButton" x-mojo-element="Button"></div>
</div>
