<!DOCTYPE HTML>
<html lang="en" {% block html_attrs %}{% endblock %}>
    <head>
        <title>Oplop</title>
        <meta charset="UTF-8">

        {% block head_content %}
        {% endblock %}

        {% block css_paths %}
            <link rel=stylesheet href="index.css">
            <link rel=stylesheet href="hvga.css">
        {% endblock %}

        {% block js_paths %}
        {% endblock %}
    </head>
    <body onload="{% block onload %}{% endblock %}">
        <noscript>Oplop requires JavaScript</noscript>

        {% block header %}{% endblock %}

        <section id="nicknameSection">
            <h2>
                <label for="nickname">
                    <span class="widthToSpare">Account</span> nickname
                </label>
            </h2>

            <p><input id="nickname" type=text required
                placeholder="Nickname goes here" autofocus></p>
            <p class="note">
                <a href="http://code.google.com/p/oplop/wiki/HowItWorks"
                    target="_blank">E.g.</a>,
                <span style="font-style: italic;">
                    Amazon, AMZN, or bookstore</span>
            </p>
            <!-- <datalist id=nicknameList>
            </datalist> -->
        </section>

        <section id="masterPasswordSection">
            <h2>
                <label for="masterPassword">
                    <span class="widthToSpare">Your</span>
                    master password
                </label>
            </h2>

            <p><input id="masterPassword" type=password required
                placeholder="Master password goes here"></p>
            <p>
            {% block newNicknameQuestion %}
                <span id="newNickname">
                <input id="isNewNickname" type=checkbox>
                <label for="isNewNickname">
                    Validate master password?
                </label>
            </span>
            {% endblock %}
            <input id="validateMasterPassword" type=password
                placeholder="Master password (again)"></p>
        </section>

        <section id="accountPasswordSection">
            <h2>
                <span class="widthToSpare">Your <i>unique</i></span>
                account password
            </h2>

            <p><input id="createAccountPassword" value="Create" type=button></p>

            {% block account_password_content %}
            {% endblock %}
        </section>

        {% block footer %}
        {% endblock %}
    </body>
</html>
