<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.brettcannon.oplop" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Oplop</name>
    <description>
        Generate account passwords based on a nickname and a master password.
    </description>
    <author email="oplop@pyen.com" href="https://github.com/brettcannon/oplop">
        Oplop Contributors
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icons/icon128.png" />
    <icon gap:density="ldpi" gap:platform="android" src="icons/icon036.png" />
    <icon gap:density="mdpi" gap:platform="android" src="icons/icon048.png" />
    <icon gap:density="hdpi" gap:platform="android" src="icons/icon072.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="icons/icon096.png" />
    <icon gap:platform="blackberry" src="icons/icon080.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="icons/icon080.png" />
    <icon gap:platform="ios" height="57" src="icons/icon057.png" width="57" />
    <icon gap:platform="ios" height="72" src="icons/icon072.png" width="72" />
    <icon gap:platform="ios" height="114" src="icons/icon114.png" width="114" />
    <icon gap:platform="ios" height="144" src="icons/icon144.png" width="144" />
    <icon gap:platform="webos" src="icons/icon064.png" />
    <icon gap:platform="winphone" src="icons/icon048.png" />
    <icon gap:platform="winphone" gap:role="background" src="icons/icon173.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="screens/screen-android-ldpi.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="screens/screen-android-mdpi.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="screens/screen-android-hdpi.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="screens/screen-android-xhdpi.png" />
    <gap:splash gap:platform="blackberry" src="screens/screen-blackberry.png" />
    <gap:splash gap:platform="ios" height="480" src="screens/screen-iphone.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="screens/screen-iphone-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="screens/screen-iphone-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="screens/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="screens/screen-ipad-landscape.png" width="1024" />
    <gap:splash gap:platform="ios" height="2008" src="screens/screen-ipad-portrait-2x.png" width="1536" />
    <gap:splash gap:platform="ios" height="1536" src="screens/screen-ipad-landscape-2x.png" width="2008" />
    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />
    <access origin="http://127.0.0.1*" />
</widget>
